body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
  font-size: 1.05em;
}

h1 {
  font-family: "Lobster", sans-serif;
  font-size: 2.8em;
}

/*
*
*** Callout Section
*
*/
.callout-container {
  height: 100vh;
  background: url("../img/Prague-bridge-czech-republic-Intrepid-Travel.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.callout-container .relative-position--top {
  position: relative;
  top: -8%;
}
.callout-container .jumbotron {
  padding: 12px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.callout-container .scrollDown {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
}
@media screen and (min-width: 400px) {
  .callout-container .scrollDown {
    top: 150%;
  }
}
.callout-container .scrollDown span {
  display: block;
  width: 20px;
  height: 20px;
  margin: -10px;
  border-bottom: 5px solid #e5f3bd;
  border-right: 5px solid #e5f3bd;
  transform: rotate(45deg);
  animation: animate 2s infinite;
}
.callout-container .scrollDown span:nth-child(1) {
  animation-delay: -0.2s;
}
.callout-container .scrollDown span:nth-child(2) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/*
*
*** MAP section
*
*/
.map-container {
  margin: 10px 0;
}
.map-container .headline {
  margin-top: 42px;
  margin-bottom: 10px;
}
.map-container .search-city {
  width: 100%;
  padding: 20px 20px 20px 60px;
  background-image: url(../img/search_icon.svg);
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1em;
  font-size: 1.2em;
  border: 0;
}
.map-container #map {
  min-height: 100vh;
}
@media screen and (min-width: 768px) {
  .map-container #map {
    min-height: calc(100vh - 20px);
  }
}
.map-container .marker-p {
  margin: 0;
  font-size: 1.2em;
}
.map-container .marker-ul {
  list-style: none;
  padding-left: 15px;
  padding-top: 5px;
  font-size: 1.1em;
}
.map-container .btn-advanced {
  padding: 2px 10px;
  margin: 25px 0 15px 0;
}
.map-container .btn-advanced:hover {
  box-shadow: 0 8px 6px -6px black;
}
.map-container .input-limit {
  text-align: center;
}
.map-container .btn-submit-style {
  color: #494949;
  text-transform: uppercase;
  background: #ffffff;
  margin: 50px 0 20px 0;
  padding: 10px 30%;
  border: 4px solid #494949;
  border-radius: 6px;
}
@media screen and (min-width: 768px) {
  .map-container .btn-submit-style {
    margin: 50px 0 0 0;
  }
}
.map-container .btn-submit-style:hover {
  color: black;
  background: #81f6a2;
  border-color: #81f6a2;
  transition: all 0.6s ease 0s;
}

/*
*
*** FOOTER
*
*/
.footer-container {
  background-color: #7a7a7a;
}
.footer-container .text--white {
  color: white;
}
.footer-container .social-links {
  padding: 0;
  margin-bottom: 4px;
}
.footer-container .social-links li {
  list-style: none;
}
.footer-container .social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #8f8f8f;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
.footer-container .social-links li a i:hover {
  background-color: #e5f3bd;
  color: black;
}

/*# sourceMappingURL=main.css.map */
