body {
   background-color: rgb(243, 243, 243);

   font: {
      family: "Roboto", sans-serif;
      size: 1.05em;
   }

   h1 {
      font: {
         family: "Lobster", sans-serif;
         size: 2.8em;
      }
   }
}

/*
*
*** Callout Section
*
*/

.callout-container {
 height: 100vh;

 background: url("../img/Prague-bridge-czech-republic-Intrepid-Travel.jpg") no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

   .jumbotron {
      opacity: .9;
      padding: 12px;
      width: 50%;
      position: relative;
      left: 25%;
      top: 34%;
   }

 // ScrollDown 

   .scrollDown {
      position: absolute;
      top: 74%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      span {
         display: block;
         width: 20px;
         height: 20px;
         margin: -10px;
         border-bottom: 3px solid rgb(221, 217, 217);
         border-right: 3px solid rgb(221, 217, 217);
         transform: rotate(45deg);
         animation: animate 2s infinite;
      }

      span:nth-child(1) {
         animation-delay: -0.2s;
      }
      span:nth-child(2) {
         animation-delay: -0.4s;
      }
   }

   @keyframes animate {
      0% {
         opacity: 0;
         transform: rotate(45deg) translate(-20px, -20px)
      }

      50% {
         opacity: 1;
      }

      100% {
         opacity: 0;
         transform: rotate(45deg) translate(20px, 20px)
      }
   }
}

/*
*
*** MAP section
*
*/

.map-container {
   #map {
      min-height: 65vh;
    }
   
    .btn-advanced {
      padding: 2px 10px;
   }
   
   .btn-margin--10px {
      margin: 10px 0px;
   }
}

/*
*
*** FOOTER
*
*/

.footer-container {
   .social-links {
      padding: 0;
   
      li {
         list-style: none;
   
         a i {
            width: 32px;
            height: 32px;
            padding: 12px 0;
            font-size: 13px;
            line-height: 7px;
            text-align: center;
            color: #fafafa;
            background: #8f8f8f;
            -moz-transition: all 0.35s ease-in-out;
            -webkit-transition: all 0.35s ease-in-out;
            -o-transition: all 0.35s ease-in-out;
         }
         
         a i:hover {
            background-color: #b90738;
         }
      }
    }
}